.cv{
  margin-top: 4em;
  height: 85vh;
}
.aboutMe{
  display:flex;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  justify-content: center;
  font-size: 2vw
}
.figmaImport{

  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
  
  
  &-education{
    width:49vw;
    max-height: 315px;
    
  }
  &-skills{
    width:49vw;
    max-height: 315px;
  
  }
  &-experience{
    width:49vw;
    max-height: 315px;
   
  }
  &-volontariat{
    width:49vw;
    max-height: 315px;
  }
}

@media (max-width: 375px), screen and (max-height:700px){
  .figmaImport{
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    height: 100%;
    &-education{
    width:65%
    }
    &-skills{
      width:65%
    
    }
    &-experience{
      width:65%
     
    }
    &-volontariat{
      width:65%
    }
  }
  
}