@use 'reset';
@use 'vars';

 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto Mono';
    src: url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;1,100&display=swap');
  }

  body {
    font-family: 'Roboto Mono', monospace
  }

